.ddsmoothmenu{
	float: right;
	padding: 40px 10px 0;	
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	width: 90px;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;
	font-size: 15px;
	color: #FFF;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}

* html .ddsmoothmenu ul li a{ 
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #b3cb12;
	background: url(../images/tooplate_menu_hover.png) no-repeat
}
/*1st sub level menu*/
